
%h1
  Listas

- @lists.each do |list|

  %h2
    = link_to(list.title, list_path(list))
  = link_to(t('lists.edit'), 
      edit_list_path(list), class: 'open-overlay btn btn-default', 'data-overlay' => 'list')
  = link_to(t('lists.remove'),
      list_path(list), class: 'btn btn-danger', 'data-method' => 'delete', 'confirm' => t('confirm'))


